.header {
  height: 80px;
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.nav__item {
  padding: 10px 20px;
}
.nav__item:not(:last-child) {
  margin-right: 15px;
}
.nav__item:last-child {
  background-color: var(--secondary-color);
  border-radius: 5px;
  color: var(--btn-txt-color);
}

@media (max-width: 767px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
  .nav {
    margin-top: 20px;
    margin-left: 0;
  }
  .logo {
    margin-top: 25px;
  }
}

@media (max-width: 575px) {
  .nav__item {
    padding: 10px 10px;
  }
  .nav__item:not(:last-child) {
    margin-right: 0px;
  }
}

