:root {
  --primary-color: #3C3C3C ;
  --secondary-color: #FF5757;
  --title-color: #000000;
  --

}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--primary-color);
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
input,
input:focus,
button,
button:focus {
  border: none;
}
img {
  display: block;
  width: 100%;
}