.checkout {
  
  
}
.checkout__title {
  margin-top: 30px;
  margin-bottom: 30px;
}
.checkout__box {
  padding: 30px;
  box-shadow: 0 4px 20px rgba(0,0,0,.1);
  border-radius: 10px;
}
.checkout__productTitle,
.checkout__productItem,
.checkout__total {
  padding: 10px 20px;
}
.checkout__productTitle,
.checkout__productItem {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  border-bottom: 1px solid var(--light-color);
}
.checkout__productItem {

}
.checkout__total {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.checkout__btn {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
. {

}