.addbook {

}
.addbook__form {
  
}
.addbook__inputGroup {
  padding: 25px;
  background-color: #fff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 30px;
}

.addbook__input {
  display: block;
  border: 1px solid #c9c9c9;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}
.addbook__input:focus {
  outline: none;
  border-color: salmon;
}
.addbook__inputFile {
  width: 100%;
  display: block;
  margin-top: 5px;

}
.addbook__inputFile::-webkit-file-upload-button {
  padding: 10px;
  visibility: hidden;
}
.addbook__inputFile::before {
  content: "Upload File";
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid salmon;
}
.addbook__btn {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}